<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon aria-hidden="true" name="images"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
