<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        size-lg="2"
        size-sm="6"
        *ngFor="let photo of photoService.photos"
      >
        <ion-card>
          <img [src]="photo.data" alt="Gallery Image" (click)="setOpen(true, photo)"/>
          <ion-icon
            name="star"
            class="star-icon"
            [ngClass]="{ 'star-selected': photo.isFavorite }"
            (click)="toggleFavorite(photo)"
          ></ion-icon>
          <ion-card-content>
            <p>{{ photo.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{selectedPhoto?.id}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-textarea
            placeholder="Type photo description"
            [autoGrow]="true"
            [(ngModel)]="description"
          >
          </ion-textarea>
        </ion-item>
        <br>
        <ion-item>
          <ion-input
            placeholder="Where did you take this photo?"
            [(ngModel)]="address"
          >
          </ion-input>
        </ion-item>
        <ion-card class="update-button">
          <ion-button (click)="updatePhoto()">
            <ion-icon slot="icon-only" name="save"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
