<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        size-lg="2"
        size-sm="6"
        *ngFor="let photo of photoService.readAllFavoritePhoto()"
      >
        <ion-card>
          <img [src]="photo.data" alt="Gallery Image" />
          <ion-card-content>
            <p>{{ photo.description }}</p>
          </ion-card-content>
        </ion-card>
        <ion-icon
        class="star-icon"
        name="star"
        [ngClass]="{ 'star-selected': photo.isFavorite }"
        (click)="toggleFavorite(photo)"
      ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>